@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  padding: 0;
  text-align: center;
  background: linear-gradient(#78c97188, #78c97188), url("../images/bghtml.png");
  /* background-color: #79c971; */
  background-size: cover;
  background-repeat: repeat;
  color: #fff;
  font-family: "Press Start 2P";
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 3.5rem;
  margin-top: 40px;
  text-shadow: -2px 2px 0px #d96154, -4px 4px 0px #b45146;
}
h2 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
  line-height: 1.8em;
}

#banner {
  margin-top: 40px;
  height: 64px;
  background: transparent url(../images/playerImg.png) space 0 0;
  background-size: 64px;
}

.canvas {
  width: 700px;
  box-shadow: -4px 4px 0px hsla(25, 37%, 47%, 0.35);
  background: #f8f1dd;
  border: 2px solid #3c2015;
  position: relative;
  margin: 50px auto;
  color: #000;
}

.canvas-header {
  color: #f8f5ec;
  text-shadow: -2px 2px 0px #000000;
  padding: 20px;
  background-color: #d96154;
  border-bottom: 2px solid #3c2015;
}

.canvas-footer {
  border-top: 2px solid #3c2015;
  padding-bottom: 20px;
}

.canvas-footer .button {
  margin-top: 30px;
}

#action-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 780px;
  justify-content: space-between;
  font-size: 1.5rem;

  padding: 0px 20px 20px 20px;
}

#action-button button {
  background-color: #f8f5ec;
  color: #d96154;
  padding: 10px 20px;
  text-shadow: -2px 2px 0px hsla(25, 37%, 47%, 0.35);
  box-shadow: -4px 4px 0px hsla(25, 37%, 47%, 0.35);
}
#action-button button:hover {
  background-color: #d96154;
  color: #f8f5ec;
  padding: 10px 20px;
  box-shadow: -4px 4px 0px hsla(25, 37%, 47%, 0.35);
}

#action-button div {
  margin-top: 30px;
}

.canvas-content p {
  font-size: 1em;
  padding: 20px;
}

.canvas-content .looser {
  padding: 20px;
}
.text {
  margin-top: 30px;
  margin-bottom: 20px;
}

.canvas-content h2.button {
  font-size: 2em;
}

a#start-button {
  color: #ff0000;
}

a#start-button:hover {
  color: #a00000;
  text-decoration: none;
}

.dog,
.rat {
  width: 50px;
  margin: 0 15px;
}

.arrows,
.adws {
  width: 100px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

/*GAME*/
#canvas {
  padding: 0;
  margin: 100px auto;
  display: block;
  position: absolute;
  top: 162px;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -4px 4px 0px hsla(25, 37%, 47%, 0.35);
  border: 2px solid #3c2015;
}
